chromadb
sentence-transformers
langchain
langchain-community
langchain_openrouter
langchain_chroma
langchain-text-splitters
langchain-huggingface
pymupdf
rank-bm25
spacy
pandas
numpy
tqdm
python-dotenv
scikit-learn
matplotlib
jupyter
ipykernel